# Byte-compiled / Python
__pycache__/
*.py[cod]
*$py.class

# Distribuição
build/
dist/
*.egg-info/
.eggs/

# Ambientes virtuais
venv/
.venv/
env/
*.env

# Arquivos de log e temporários
*.log
*.tmp
*.bak
*.swp

# Arquivos de saída
output/
*.csv

# IDEs e editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema operacional
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Arquivos de pacotes
*.tar.gz
*.zip
